    <div [ngStyle]="getStyles(currentProduct)" class="info mt-5 ml-5">
        <div class="card" style="width: 18rem;">
            <a [routerLink]="['product',currentProduct.id]" style="text-decoration: none">
                <h1 class="card-title text-center">{{currentProduct.name}}</h1>
                <h5 class="text-center">{{currentProduct.type}}</h5>
                <img class="card-img-top" [src]="currentProduct.image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="text-center">1 {{currentProduct.countMethod}} : {{currentProduct.price}} Amd</h5>
                </div>
            </a>
            <div class="card-body mx-auto d-flex row justify-content-center">
                <button (click)="pruductService.weightMinus(currentProduct)" type="button" class="btn btn-light">-</button>
                <input type="number" [(ngModel)]="currentProduct.weight" class="w-25 pl-3" min="0">
                <button (click)="pruductService.weightPlus(currentProduct)" type="button" class="btn btn-light">+</button>
            </div>
            <h5 class="card-text text-center text-dark mb-3">Amount: {{currentProduct.price * currentProduct.weight}} Amd</h5>
            <button (click)="pruductService.addToCart(currentProduct)">Add to Cart</button>
        </div>
    </div>
    