<div class="info mt-5 ml-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../../assets/pinaple.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">{{pinapple.name}}</h5>
                <div class="border border-dark">
                    <p class="card-text text-center">Amount: {{pinapple.price * pinapple.weight}}</p>
                </div>
            </div>
            <div class="card-body mx-auto d-flex row justify-content-center">
                <button (click)="weightMinus()" type="button" class="btn btn-light">-</button>
                <input type="number" [(ngModel)]="pinapple.weight" class="w-25 pl-3" min="0">
                <button (click)="weightPlus()" type="button" class="btn btn-light">+</button>
            </div>
        </div>
    </div>